Repository zuffik/tic-tac-toe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pdf, ann, game

.gitlab-ci.yml:

stages:
  - spawn

pdf:
  stage: spawn
  trigger:
    include: ci/pdf.yml
  only:
    changes:
      - docs/**/*

ann:
  stage: spawn
  trigger:
    include: ci/ann.yml
  only:
    changes:
      - ai/**/*
      - game/**/*
game:
  stage: spawn
  trigger:
    include: ci/game.yml
  only:
    changes:
      - ai/**/*
      - game/**/*

update ci
  ci/ann.yml
Due: none

update ci
  .gitlab-ci.yml
Due: none

update ci
  .gitlab-ci.yml
  ci/ann.yml
Due: none

update ci
  ci/ann.yml
  ci/game.yml
Due: none

fix training
  ai/src/boards/Board3D.py
  ci/ann.yml
Due: ann, game

fix training
  ai/src/boards/Board3D.py
  ci/game.yml
Due: ann, game

prepared for full training
  ai/src/__main__.py
  ai/store-ann.sh
Due: ann, game

anibohovi
  ci/ann.yml
  ci/game.yml
Due: none

debugged?
  ai/src/boards/Board3D.py
  ci/ann.yml
  ci/game.yml
  game/Assets/Scenes/MainScene.unity
  game/Assets/Scripts/BoardOperations.cs
  game/Assets/Scripts/HudController.cs
Due: ann, game

ann job update
  ci/ann.yml
Due: none

update game, should be working now
  game/Assets/Scripts/GameController.cs
Due: ann, game

last update before cave.. now only latex runs
  ai/store-ann.sh
  game/Assets/Scenes/MenuScene.unity
  game/Assets/Scripts/HudController.cs
Due: ann, game

Update ai/store-ann.sh
  ai/store-ann.sh
Due: ann, game

docs update
  docs/images/minmax-tree.png
  docs/sections/algorithms.tex
  docs/sections/analysis.tex
Due: pdf

docs update
  docs/sections/algorithms.tex
Due: pdf

docs update
  docs/images/activation-functions.png
  docs/images/general-ann.jpg
  docs/paperwork.tex
  docs/sections/algorithms.tex
  docs/sections/analysis.tex
  docs/sections/tic-tac-toe.tex
  docs/setup.tex
Due: pdf

docs update
  docs/paperwork.tex
  docs/sections/algorithms.tex
  docs/sections/analysis.tex
Due: pdf

docs update
  docs/images/heuristic.png
  docs/images/impl-ann-model.jpg
  docs/images/impl-ann-train.jpg
  docs/images/impl-minimax.jpg
  docs/images/svm.png
  docs/paperwork.tex
  docs/sections/algorithms.tex
  docs/sections/analysis.tex
  docs/setup.tex
Due: pdf

docs update
  docs/paperwork.tex
  docs/sections/analysis.tex
  docs/sections/implementation.tex
Due: pdf

update
  docs/images/unity.png
  docs/sections/implementation.tex
Due: pdf

docs update
  docs/images/kave.png
  docs/paperwork.tex
  docs/references.bib
  docs/sections/algorithms.tex
  docs/sections/implementation.tex
  docs/setup.tex
Due: pdf

docs update
  ai/src/__main__.py
  docs/images/impl-ann-load.png
  docs/images/impl-ann-save.png
  docs/images/impl-ann-usage.png
  docs/images/impl-cd.png
  docs/sections/implementation.tex
  docs/sections/tic-tac-toe.tex
  game/Assets/Scripts/GameController.cs
Due: pdf, ann, game

docs update
  docs/sections/implementation.tex
Due: pdf

docs update
  docs/sections/implementation.tex
  docs/setup.tex
Due: pdf

docs update
  docs/paperwork.tex
  docs/sections/abstract.tex
  docs/sections/algorithms.tex
  docs/sections/conclusion.tex
  docs/sections/experiments.tex
  docs/sections/head.tex
  docs/sections/implementation.tex
  docs/sections/introduction.tex
  docs/setup.tex
Due: pdf

docs update
  docs/paperwork.tex
  docs/sections/abstract.tex
  docs/sections/algorithms.tex
  docs/sections/conclusion.tex
  docs/sections/experiments.tex
  docs/sections/implementation.tex
  docs/sections/introduction.tex
Due: pdf

docs update
  docs/references.bib
  docs/sections/algorithms.tex
  docs/sections/analysis.tex
  docs/sections/conclusion.tex
  docs/sections/implementation.tex
Due: pdf

docs update
  docs/references.bib
Due: pdf

docs update
  ci/pdf.yml
  docs/paperwork.tex
  docs/references.bib
  docs/sections/algorithms.tex
  docs/sections/analysis.tex
  docs/sections/implementation.tex
  docs/sections/requirements.tex
  docs/sections/tic-tac-toe.tex
  docs/setup.tex
Due: pdf

docs update
  docs/paperwork.tex
  docs/sections/head.tex
  docs/setup.tex
Due: pdf

docs update
  docs/paperwork.tex
Due: pdf
